a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}


a:active {
  color: red;
}

.centered-container {
  width: 800px;
  margin: 0 auto;
}

.site-footer::before {
  content: "© 2025 Yeseong Choi. All rights reserved.";
  display: block;
  text-align: center;
  font-size: 0.9em;
  color: #888;
}

iframe[data-cusdis-iframe] {
  height: 1000px !important;
  overflow: visible !important;
  width: 100% !important;
  border: none;
}